
/* font family link it's Source code pro font family */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-clr: #094e9d;
    --dark-clr: #021831;
    --white-clr: #f5faff;
    --white-clr-alt: #f0f8ff;
    --white-input-clr: #f3f8fd;
    --gray-clr: #617283;
    --link-clr: #2083F8;
    --error-clr: #ea1601;
    --warning-clr: #fad202;
    --success-clr: #64bc26;
    --footer-bg-clr: #063060;
}
/* --- BASE --- */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--link-clr);
}
.container {
    padding: 0 2rem;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}
.alert {
    padding: 1.1rem 2rem;
    border-radius: 5px;
}
.alert-success {
    background-color: hsl(95, 66%, 44%, 0.322);
}
.alert-danger {
    background-color: hsla(5, 99%, 46%, 0.322);
    color: var(--dark-clr);
}
.alert-warning {
    background-color: hsl(50, 98%, 49%, 0.322);
}
.btn {
    transition: 300ms background-color;
}
.btn:hover,
.btn:focus {
    background-color: #094e9de0;
}
body {
    font-family: 'Source Code Pro', monospace;
    background-color: var(--white-clr);
}

/* --- HEADER --- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-clr);
    padding: 1rem 2rem;
    position: relative;
}
.nav-icon {
    color: var(--white-clr-alt);
    font-size: 2.5rem;
}
.hamburger-close-container {
    display: none;
}
.nav-bar {
    background-color: var(--primary-clr);
    display: flex;
    align-items: center;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-item {
    margin: 0 1.2rem;
}
.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    color: var(--white-clr-alt);
    position: relative;
    padding-bottom: .5rem;
}
.nav-link::before {
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--white-clr-alt);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: 300ms transform;
}
.nav-link:hover::before {
    transform: scaleX(1);
    transition: 300ms transform;
}

.active {
    position: relative;
    padding-bottom: .5rem;
}
.active::before {
    content: "";
    height: .1rem;
    width: 100%;
    background-color: var(--white-clr-alt);
    position: absolute;
    bottom: 0;
    transform: scaleX(1);
    transition: 300ms transform;
}
.active:hover::before {
    transform: scaleX(.1);
    transition: 300ms transform;
}
.user-icon-container {
    cursor: pointer;
    margin-left: 3rem;
    display: flex;
    align-items: flex-end;
}
.user-icon {
    background-color: var(--white-clr-alt);
    border-radius: 50%;
    pointer-events: none;
}
.bx-user {
    font-size: 1.5rem;
    padding: .5rem;
    color: var(--primary-clr);
}
.bxs-down-arrow {
    font-size: 1rem;
    color: var(--white-clr-alt);
    opacity: .8;
    pointer-events: none;
}
.librarian_name {
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
    position: absolute;
    bottom: -6rem;
    right: .5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 300ms transform;
}
.show-librarian-name {
    transform: scaleY(1);
}
.librarian_name span {
    color: var(--white-clr-alt);
    cursor: auto;
}
.logout {
    margin: 0;
    margin-top: 1rem;
}

@media screen and (max-width: 861px) {
    /* Base */
    .container {
        padding: 0 .5rem;
    }
    /* --- HEADER --- */
    .header {
        padding: 1rem .5rem;
    }
    .hamburger-close-container {
        display: block;
    }
    .bx-menu, .bx-x {
        cursor: pointer;
    }
    .bx-x {
        display: none;
    }
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
    .nav-bar {
        display: block;
        position: absolute;
        padding: 2rem 2.5rem;
        top: 4.7rem;
        right: 0;
        border-bottom-left-radius: 5px;
        transform: scaleY(0);
        transform-origin: top;
        transition: 300ms transform;
    }
    .show-nav_bar {
        transform: scaleY(1);
    }
    .nav-items {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        margin: 1rem 0;
    }
    .nav-item:first-child {
        margin-top: 0;
    }
    .nav-item:last-child {
        margin-bottom: 0;
    }
    .user-icon-container {
        margin-top: 1rem;
    }
}

/* --- Main --- */
main {
    margin-bottom: 5rem;
}

/* --- Home --- */
.search_bar-container {
    margin: 3rem 0;
    margin-bottom: 5rem;
}
.search-bar {
    display: flex;
    flex-direction: column;
}
.search-input {
    height: 2.5rem;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--white-input-clr);
    color: var(--dark-clr);
    outline: none;
    border: thin solid #02183113;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}
.search-input:focus {
    box-shadow: 0 0 5px 1px #0218312c;
}
.btn-search {
    cursor: pointer;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 1.4rem;
    border-radius: 5px;
    border: thin solid #02183113;
    background-color: var(--white-clr-alt);
    color: var(--primary-clr);
    font-family: 'Source Code Pro', monospace;
    transition: 300ms background-color, 300ms color;
}
.btn-search:hover,
.btn-search:focus {
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
}

@media screen and (min-width: 768px){
    .header {
        padding: 1rem;
    }
    .container {
        padding: 0 1rem;
    }
    .search-bar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .search-input {
        height: 2.8rem;
        width: 50%;
        margin: 0;
    }
    .btn-search {
        margin-left: 1.8rem;
        font-size: 1.4rem;
    }
}

.books-container {
    margin: 2rem 0;
}
.book {
    background-color: var(--white-clr-alt);
    position: relative;
    margin: 2rem 0;
    border: thin solid #02183127;
    border-radius: 5px;
    padding: 2.8rem 1rem 2rem 1rem;
}
.bxs-edit, .bx-x-circle {
    font-size: 1.5rem;
    color: #094e9db6;
}
.pencil-sign {
    position: absolute;
    top: .7rem;
    left: 1rem;
    transition: 300ms transfomr;
}
.delete-sign {
    position: absolute;
    top: .7rem;
    right: 1rem;
    transition: 300ms transfomr;
}

.pencil-sign:hover, .delete-sign:hover {
    transform: scale(1.1);
}
.book-title {
    color: var(--primary-clr);
    font-size: 1.4rem;
    margin-top: 1.5rem;
}
.book_subinfo-container {
    margin-top: 1rem;
}
.book-sub-info {
    font-size: .9rem;
    color: #0218319a;
    font-weight: 300;
}
.book-sub-info:last-child {
    margin-top: .5rem;
}
.book-sub-info b {
    color: #02183160;
}
.book-register {
    color: #2081f8c4;
    font-weight: 300;
}

/* --- Searched book page --- */
.result-title {
    color: var(--dark-clr);
    font-size: 1.1rem;
    padding-bottom: .8rem;
    border-bottom: thin solid #02183125;
}


.book-description {
    color: #021831a9;
    font-size: .9rem;
    letter-spacing: .01rem;
    line-height: 1.5rem;
    margin: 2rem 0;
}
.btn-borrow {
    background-color: var(--white-clr-alt);
    color: var(--primary-clr);
    border: thin solid #02183149;
    padding: .6rem 3.3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 300ms background-color, 300ms color, 300ms border;
}
.btn-borrow:hover,
.btn-borrow:focus {
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
    border: thin solid var(--primary-clr);
}
.paginations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.btn-pagination {
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 5px;
}
.btn-pagination-out {
    border: thin solid var(--primary-clr);
    color: var(--primary-clr);
    font-size: 2rem;
    padding: 0 2rem;
    border-radius: 5px;
}
.btn-pagination:first-child {
    margin-left: 0;
}
.btn-pagination:last-child {
    margin-right: 0;
}
@media screen and (min-width: 1024px){
    .books-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .book {
        border: thin solid #02183113;
        width: 40%;
        margin: 0;
    }
    .btn-borrow {
        font-size: 1rem;
    }
    .btn-pagination, .btn-pagination-out {
        font-size: 1.4rem;
    }
}

.book-full-description {
    white-space: pre-line;
}

.green {
    color: rgb(32, 95, 73);
}

.form-title {
    color: var(--primary-clr);
    font-size: 1.8rem;
    margin: 2rem 0;
    margin-bottom: 4rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.form-control-label {
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.form-control {
    height: 2.8rem;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
    background-color: var(--white-input-clr);
    color: var(--dark-clr);
    outline: none;
    border: thin solid #0114112c;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0 .5rem;
}
.form-control:focus {
    box-shadow: 0 0 5px 1px #0218312c;
}
.form-control-desc {
    height: 5rem;
    padding-top: .2rem;
}
.btn-submit {
    cursor: pointer;
    border: none;
    width: 250px;
    height: 45px;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
    font-family: 'Source Code Pro', monospace;
}

@media screen and (min-width: 768px){
    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    .form-control {
        width: 150%;
    }
    .btn-submit {
        font-size: 1.2rem;
    }
}

/* Upload Book page */

.register_login_acc {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #021831a6;
}
.register_login_acc a {
    color: var(--link-clr);
}

/* Borrow Book page */
.dates {
    display: flex;
}
.borrow-date {
    margin-right: 6rem;
}

/* Borrowed Books page */
.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: var(--primary-clr);
    color: var(--white-clr-alt);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0218310c;
}

.styled-table tbody tr .active-row {
    font-weight: bold;
    color: var(--dark-clr);
}

.active-row:hover {
    background-color: #094e9d1f;
}

.edit-link {
    color: var(--link-clr);
}
.delete-link {
    color: var(--error-clr);
}
.edit-link:hover, .delete-link:hover {
    text-decoration: underline;
}
table {
    width: 1180px;
}

th {
    border: 1px solid var(--white-clr-alt);
}
td {
    border: 1px solid #0218310c;
}

th {
    font-size: 12px;
}

/* Returned Books page */

/* -- Base -- */

.is-invalid {
    border: thin solid var(--error-clr);
}
.invalid-feedback {
    font-size: .8rem;
    color: var(--error-clr);
}