{% extends 'layout.html' %}
{% block content %}
<div class="book-desc-container">
    <!-- Find the book title then display it in card -->
    <a class='link' href="{{ url_for('borrow', book_id = one_book.id)}}">
        <h5 class="book-title">{{ one_book.title.title() }}</h5>
    </a>
    <!-- Find the book description then display it in card -->
    <p class="book-full-description">{{ one_book.description }}</p>
    <!-- Find the book author then display it in card -->
</div>

<div class="mt-3">
    <a class='btn btn-borrow' href="{{ url_for('borrow', book_id = one_book.id)}}">Borrow</a>
</div>
{% endblock %}
