{% extends 'layout.html' %}

{% block content %}
<div class="table-container">
    <table class="styled-table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customer name</th>
                <th scope="col">N˚</th>
                <th scope="col">Book Title</th>
                <th scope="col">Author</th>
                <th scope="col">Borrowed data</th>
                <th scope="col">Return Date</th>
                <th scope="col">Edit / Delete</th>
                <th scope="col">Return</th>
            </tr>
        </thead>
    {% for borrow_info in borrow_infos %}
        <tbody>
            <tr class='active-row'>
            <td>{{ borrow_info.id }}</td>
            <td>{{ borrow_info.customer }}</td>
            <td>{{ borrow_info.id }}</td>
            <td>{{ borrow_info.title }}</td>
            <td>{{ borrow_info.author }}</td>
            <td>{{ borrow_info.borrow_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ borrow_info.return_date.strftime('%Y-%m-%d') }}</td>
            <td>
                <a class='edit-link' href="{{ url_for('borrow_edit', book_id=borrow_info.id ) }}">Edit</a> / <a class='delete-link' href="{{ url_for('delete_borrow_info', borrow_info_id=borrow_info.id ) }}">Delete</a>
            </td>
            <td><a class='edit-link' href="{{ url_for('return_book', book_id=borrow_info.id ) }}">Return</a></td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}






