{% extends 'layout.html' %}
{% block content %}
<div class="search_bar-container">
    <form class="search-bar" action="/search" method="POST">
        <input id="input-search" class="search-input" type="text" name="searched_book" placeholder="Search book by title...">
        <input class="btn btn-search" type="submit" value="search">
    </form>
</div>
<!-- Firstly check if there is books -->
{% if books %}
<!-- If there is books list loop in to display them -->
<!-- Loop in books List then show the book -->
<div class="books-container">
    {% for book in books.items %}
    <div class="book">
        <!-- display the pencil sign which stand for update -->
        <a class='image-link' href="{{ url_for('update', book_id = book.id) }}">
            <i class='bx bxs-edit pencil-sign' title="update the book"></i>
        </a>
        <!-- display the delete sign which stand for delete -->
        <a class='image-link' href="{{ url_for('delete_post', book_id = book.id) }}">
            <i class='bx bx-x-circle delete-sign' title="delete the book"></i>
        </a>

        <div class="book-body">
            <!-- Find the book title then display it in card -->
            <a class='link' href="{{ url_for('borrow', book_id = book.id)}}">
                <h5 class="book-title">{{ book.title.title() }}</h5>
            </a>
            <!-- Find the book author then display it in card -->
            <div class="book_subinfo-container">
                <span class='book-sub-info'>By <b>{{book.author}}</b></span><br>
                <span class='book-sub-info'>
                    Book register
                    <a class='link book-register' href="{{ url_for('admin_books', admin=book.auth.username) }}" title="See all books uploaded by {{ book.auth.username }}">
                        {{ book.auth.username}}
                    </a>
                </span>
            </div>
            <!-- Find the book description then display it in card -->
            {% if book.description|length > 416 %}
                <p class="book-description">{{ book.description[0:416] }}<a class="link" href="{{ url_for('book', book_id = book.id) }}">..more</a></p>
            {% else %}
            <p class="book-description">{{ book.description }}</p>
            {% endif %}
        </div>
        <a class="btn-borrow" href="{{ url_for('borrow', book_id = book.id)}}">Borrow</a>
    </div>
    {% endfor %}
</div>
<div class="paginations">
    {% for page_num in books.iter_pages() %}
    {% if page_num %}
    {% if books.page == page_num %}
    <a class='btn btn-pagination' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class='btn-pagination-out' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% else %}
</div>
<!-- Otherwise show this, and advice them to upload it by pass to * upload link *-->
<h5 class='alert alert-danger'>
    No books uploaded yet, Go
    <a class='link' href="{{ url_for('upload') }}">Here</a>
    To Upload theme
</h5>
{% endif %}
{% endblock content%}
{% block footer%}
<footer class="footer">
    <div class="copy">© 2021, Lib</div>
    <div class="designer">Developed by <a href="https://thierrymugisha.me">Thierry M.</a></div>
</footer>
{% endblock footer%}
