
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link type='text/css' href="{{ url_for('static', filename='boxicons/css/boxicons.min.css') }}" rel='stylesheet'>
    <link type='text/css' href="{{ url_for('static', filename='main.css') }}" rel='stylesheet'>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Library-books-management</title>
    {% endif %}
</head>

<body>
    <header class="header">
        <a class="navbar-brand brand-link" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='photos/Lib.svg') }}" alt="">
        </a>
        <nav class="nav-bar">
            <ul class="nav-items">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="active nav-link" aria-current="page" href="{{ url_for('home') }}">All books</a>
                    </li>
                    <!---->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('upload') }}">Register a Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('borrow_info') }}">Borrowed Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('return_info') }}">Returned Books</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                {% else %}
                    <!---->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <!---->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
            <div class="user-icon"></div>
        </nav>
        <div class="hamburger-close-container">
            <i class="bx bx-menu nav-icon"></i>
            <i class="bx bx-x nav-icon"></i>
        </div>
    </header>
    <main role='main' class='container'>
        <div class='row-3'>
            <div class=''>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class='alert alert-{{ category }}'>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock%}
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>