{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
    <form method='POST' action="" class="form-container">
        {{ form.hidden_tag() }}
        <div class="form-container-sub">
            <h2 class='form-title'>Register Admin</h2>

            <div class='form-group'>
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control") }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control") }}
                {% endif %}
            </div>

            <div class='form-group'>
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control password-input is-invalid") }}
                <div class='invalid-feedback'>
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control password-input") }}
                {% endif %}
                <div class="hide-show-pwd">
                    <i class='bx bxs-show'></i>
                    <i class='bx bxs-hide hide'></i>
                </div>
            </div>

            <div class='form-group'>
                {{ form.submit(class='btn btn-submit') }}
            </div>
        </div>
    </form>
</div>
<small class="register_login_acc">Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a></small>
{% endblock content %}